a img {
	border: none;
}

/* toolbar */

.onyx-toolbar{
	padding:0px;
}

.toolbar-logo {
	margin: -1px 0px -1px -7px;
	height: 80px;
	background-color: lightblue;
	padding: 15px;
	padding-right: 20px;
}

.toolbar-search {
	width:100%;
}

.toolbar-search-input-decorator {
	padding: 5px;
	padding-top: 0px;
	background-color: white;
	width:100%;
}
/*
.toolbar-blurred {
	color: #aaaaaa;
}*/

/* main */

.main {
	background-color: white;
}
/*
.cards {
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
}
*/

/* */

.name {
	font-weight: bold;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.owner {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.links {
	display: inline-block;
}

.links > * {
	padding-left: 10px;
}

.icon-holder {
	display: block;
	position: absolute;
	right: 20px;
	margin-top: -40px;
	background-color: #FFFFFF;
	height: 80px;
	width: 80px;
	padding: 0px;}

.detail.icon-holder{
	position:relative;
	margin:0px;
}

.icon {
	width: 80px;
	height: 80px;
}

.blurb {
	padding: 18px 0 20px;
	font-size: 14px;
	font-style: italic;
}

/* ListItem */

.listitem {
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.listitem:active {
	background-color: #cde7fe;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Card */

.card {
	display: inline-block;
	overflow: hidden;
	width: 220px;
	height: 220px;
	margin: 16px;
	
	border-radius: 16px;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
	
	text-align: left;
	font-size: 16px;
}

.card-topbar {
	background-color: #EAEAEA;
	padding: 16px;
	color: #5A5A5A;
}

.card-empty {
	box-shadow: none;
	height: 0;
}

/* Details */

.details {
	z-index: 10;
	font-size: 14px;
	background-color:#ccc;
}

.details-header {
	padding: 22px 48px 16px;
	border-bottom: 1px solid #eee;
}

.details-buttons {
	text-align: center;
	padding: 32px 0 16px;
}

.details-buttons .onyx-button {
	font-size: 14px;
	margin: 4px 16px;
	width: 120px;
}

.details-scroller {
	padding-bottom: 10px;
}

.details-scroller-content {
	padding: 0px 48px 22px;
}

.details-close {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.details .name {
	font-size: 24px;
	padding-bottom: 4px;
}

.details .icon {
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 200px;
}

/* Field */

.field {
	padding: 16px 0;
}

.field-name {
	font-size: 16px;
	font-weight: bold;
}

.field-value {
	padding-top: 4px;
	font-size: 14px;
	font-style: italic;
}

/* */

@media (max-width: 600px) {
	.details-scroller-content {
		padding: 6px 16px;
	}
}



.data-repeater-sample, .data-repeater-sample .repeater-item, .data-repeater-sample .name-wrapper, .data-repeater-sample .repeater-item span {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;}
.data-repeater-sample .repeater-item {width: 100%; width: 320px; height: 100px; color: #FFFFFF; margin-bottom: 10px; position: relative;}
.data-repeater-sample .name-wrapper {position: absolute; height: 35px; top: 50%; left: 0px; margin-top: -17.5px; width: 100%;}
.data-repeater-sample .repeater-item .name {padding: 4px; font-size: 20px; font-weight: bold; line-height: 18px;}

.data-repeater-sample .repeater-item .name.last {font-weight: normal; font-size: 14px; font-style: italic; margin-top:-35px;}
.data-repeater-sample .repeater-item .name.last.small {font-size:12px; margin:0px; padding:4px; line-height:14px;}
.data-repeater-sample .repeater-item .name.last-letter {display: block; position: absolute; top: 50%; right: 0; margin-top: -25px; text-align: right; font-weight: normal; font-size: 30px; background-color: #FFFFFF; line-height: 42px; height: 50px;
	width: 40px; padding: 5px; border-radius: 25px 0 0 25px;}

.data-repeater-sample .repeater-item.class1 .name.last-letter {color: #FF7200;}
.data-repeater-sample .repeater-item.class2 .name.last-letter {color: #FBAA12;}
.data-repeater-sample .repeater-item.class3 .name.last-letter {color: #067AB5;}
.data-repeater-sample .repeater-item.class4 .name.last-letter {color: #2E92CE;}
.data-repeater-sample .repeater-item.class5 .name.last-letter {color: #333333;}
.data-repeater-sample .repeater-item.class1 {background: #FF7200;}
.data-repeater-sample .repeater-item.class2 {background: #FBAA12;}
.data-repeater-sample .repeater-item.class3 {background: #067AB5;}
.data-repeater-sample .repeater-item.class4 {background: #2E92CE;}
.data-repeater-sample .repeater-item.class5 {background: #333333;}
.data-repeater-sample .repeater-item.class1.selected,
.data-repeater-sample .repeater-item.class2.selected,
.data-repeater-sample .repeater-item.class3.selected,
.data-repeater-sample .repeater-item.class4.selected,
.data-repeater-sample .repeater-item.class5.selected {background: #FFFFFF; color: #000000;}
/* because there is some generic .item css applied with no scope in sampler */
.data-repeater-sample .item {border-bottom: none;}