@import url(http://fonts.googleapis.com/css?family=Raleway:400,800|Open+Sans:400,700,800|Droid+Sans+Mono:400,800);

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a img {
	border: none;
}

/* toolbar */

.onyx-toolbar{
	padding:10px;
	background: #5dc4ff;
	color:#ffffff;
	border:0px;
}
.toolbar-logo {
	color: black;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}

@media (min-width: 768px) {
	h1 {
		text-transform: uppercase;
		font-size: 50px;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;
	}
}

.toolbar-search {
	margin:3px;
}

.toolbar-search-input-decorator {
	padding: 5px;
	padding-top: 0px;
	background-color: white;
}

.onyx-button {
	/* outline: 0; */
	/* color: #292929; */
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	padding: 6px;
	overflow: hidden;
	border-radius: 0px;
	/* border: 1px solid #707070; */
	border: 1px solid rgba(15, 15, 15, 0.2);
	/* border-bottom: 1px solid rgba(15, 15, 15, 0.5); */
	box-shadow: none;
	background: #e1e1e1;
	/*text-overflow: ellipsis;*/
	height:32px;
}

.onyx-menu{
	min-width: 160px;
	top: 100%;
	left: 0;
	margin-top: 0px;
	padding: 3px 0;
	border-radius: 0px;
	width: 100%;
}

.onyx-popup{
	background: #e1e1e1;
	color:#000;
}
/*
.toolbar-blurred {
	color: #aaaaaa;
}*/

/* main */

.main {
	background-color: white;
}
/*
.cards {
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
}
*/

/* */

.name {
	font-weight: bold;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.owner {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.links > * {
	padding-left: 10px;
}

.icon-holder {
	display: block;
	position: absolute;
	right: 10px;
	margin-top: -30px;
	background-color: #FFFFFF;
	height: 80px;
	width: 80px;
	padding: 0px;
	border-radius: 50%;
	overflow:hidden;
}

.icon {
	width: 80px;
	height: 80px;
}

.blurb {
	padding: 18px 0 20px;
	font-size: 14px;
	font-style: normal;
}

/* Details */

.details {
	z-index: 10;
	font-size: 14px;
	background-color:#FFFFFF;
}

.details-header {
	padding: 0px 10px 10px 20px;
	border-bottom: 1px solid #eee;
}

.details-name{
	padding: 0px;
	font-weight: bold;
	white-space: nowrap;
	margin-bottom:0px;
}

.details-owner {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom:0px;
	margin-top:8px;
	vertical-align: bottom;
}

.details-buttons {
	text-align: center;
}

.details-buttons .onyx-button {
	font-size: 14px;
	margin: 4px 16px;
	width: 120px;
}

.details-scroller {
	padding-bottom: 10px;
}

.details-scroller-content {
	padding: 0px 48px 22px;
}

.details-close {
	/*position: absolute;*/
	float:right;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.details-icon-holder{
	position:relative;
	margin:0px;
	text-align:center;
	margin-top:10px;
	margin-bottom:0px;
}


.details-icon {
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 200px;
}

.details-links {
	display: inline-block;
	margin-top:8px;
	vertical-align: baseline;
	margin-left:10px;
}


.details-links a {
	margin-left:10px;
}


/* Field */

.field {
	padding: 16px 0;
}

.field-name {
	font-size: 16px;
	font-weight: bold;
}

.field-value {
	padding-top: 4px;
	font-size: 14px;
}

@media (min-width: 320px) {
	.toolbar-search-menu-decorator {
		width: 150px;
	}
	.toolbar-search-input-decorator > input {
		width: 800px;
	}
	.collapsed .toolbar-search-input-decorator > input {
		width: 282px;
	}
}
/* */
@media (max-width: 320px) {
	.toolbar-search-menu-decorator{
		width:100%;
	}
	.toolbar-search-input-decorator {
		width:100%;
	}
}

@media (max-width: 600px) {
	.details-scroller-content {
		padding: 6px 16px;
	}

}

.gallery-list {
	background-color: #FFFFFF;
}
.gallery-list .repeater-item {
	padding: 10px;
	background-color: #FAFAFA;
}
.gallery-list .repeater-item:hover, .gallery-list .repeater-item.selected {
	background-color: #CBECFF;
}
.gallery-list .author {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	line-height: 14px;
}
